# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build directory
dist/
build/

# Temporary files
*.tmp
*.temp
*.swp

# Coverage directory
coverage/

# Ignore specific files
.DS_Store
Thumbs.db
.vscode/

# Other files
*.tgz
*.gz
package-lock.json

# Operating system files
ehthumbs.db
Icon?
Desktop.ini